<div class="row">
  <div class="col-10">
    <div class="panel card p-3">
      <h3 class="mb-3">Add new item</h3>
      <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
        <div class="form-group">
          <label>Item Name</label>
          <input type="text" class="form-control" name="title" [ngModel]="newItem.title" placeholder="Enter item name">
        </div>
        <div class="form-group">
          <label>Item Photo</label>
          <input #inputFile type="file" class="form-control" name="file" [ngModel]="newItem.photo" (change)="fileChangeEvent($event)"/>
          <input type="hidden" name="photo">
        </div>
        <div class="form-group">
          <label>Item Category</label>
          <select name="type" [ngModel]="newItem.type" class="form-control">
            <option *ngFor="let item of itemTypes | enumToArray" [value]="item">{{item}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Weather Type</label>
          <select name="type" [ngModel]="newItem.weather" class="form-control">
            <option *ngFor="let item of itemWeather | enumToArray" [value]="item">{{item}}</option>
          </select>
        </div>

        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="2 / 3"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>

<app-toast></app-toast>
