<div class="row">
  <div class="col-10">
    <div class="panel card p-3">
      <h3 class="mb-3">Add new item</h3>
      <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
        <div class="form-group">
          <label>Item Name</label>
          <input type="text" class="form-control" name="title" [ngModel]="newItem.title" placeholder="Enter item name">
        </div>
        <div class="form-group">
          <label>Item Photo</label>
          <input type="file" class="form-control" name="photo" [ngModel]="newItem.photo" (change)="fileChange($event)" placeholder="Add item photo">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>

