<div class="items-grid">
  <ng-container *ngIf="itemsList && itemsList.length; else noItems">
    <ng-container *ngFor="let item of itemsList">
      <a class="item-box" [routerLink]="item._id">
        <div class="item-photo">
          <img [src]="envPath + item.photo" alt="...">
        </div>
        <div class="item-body">
          <h5 class="title">{{item.title}}</h5>
          <p class="text-secondary">{{item.type}}</p>
        </div>
      </a>
    </ng-container>
  </ng-container>
</div>

<ng-template #noItems>No items added</ng-template>
<app-toast></app-toast>
