<div class="container" *ngIf="selectedColl">
  <div class="row">
    <div class="col-12 d-flex justify-content-between mb-4">
      <h4>{{selectedColl.title}}</h4>
      <nav class="btn-group">
        <a [routerLink]="'edit'" class="btn btn-secondary btn-sm">Edit</a>
        <button (click)="deleteItem()" class="btn btn-danger btn-sm">Delete</button>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img *ngIf="selectedColl.photo" [src]="envPath + selectedColl.photo" class="card-img-top" alt="...">
      <ng-container *ngIf="selectedColl.items?.length">
        <ng-container *ngFor="let item of selectedColl.items">
          <div class="media panel item" [ngClass]="{'bg-light-red' : item.washing}">
            <img class="mr-3" [src]="envPath + item.photo" alt="{{item.title}}">
            <div class="media-body">
              <h5 class="mt-0">{{item.title}}</h5>
            </div>
          </div>
        </ng-container>

      </ng-container>
      <div class="card-body">
        <p class="text-secondary">{{selectedColl.weather}}</p>
        <p class="text-secondary">{{selectedColl.type}}</p>
      </div>
    </div>
  </div>
</div>

<app-toast></app-toast>
