<div class="row">
  <div class="col-24">
    <div class="panel card p-3">
      <h3 class="mb-3" *ngIf="edit">Edit new collection</h3>
      <h3 class="mb-3" *ngIf="!edit">Create new collection</h3>

      <div class="row">
        <div class="col-10">
          <form #collectionForm="ngForm" (ngSubmit)="onSubmit(collectionForm)">
            <input *ngIf="edit" [ngModel]="newCollection._id" name="_id" type="hidden">
            <div class="form-group">
              <label>Item Name</label>
              <input type="text" class="form-control" name="title" [ngModel]="newCollection.title"
                     placeholder="Enter item name" required>
            </div>
            <div class="form-group">
              <label>Item Photo</label>
              <input #inputFile type="file" class="form-control" name="file"
                     (change)="fileChangeEvent($event)"/>
              <input type="hidden" name="photo">
            </div>
            <div class="form-group">
              <label>Item Category</label>
              <select name="type" [ngModel]="newCollection.type" class="form-control" required>
                <option *ngFor="let itemT of collectionTypes | enumToArray" [value]="itemT">{{itemT}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Weather Type</label>
              <select name="weather" [ngModel]="newCollection.weather" class="form-control" required>
                <option *ngFor="let itemW of collectionWeather | enumToArray" [value]="itemW">{{itemW}}</option>
              </select>
            </div>

            <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="2 / 3"
              [imageURL]="edit ? (envPath + newCollection.photo) : ''"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"
            ></image-cropper>

            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
        <div class="col-14" *ngIf="itemsList && itemsList.length;  else noItems">
          <form #itemsForm="ngForm" (change)="onItemSelect(itemsForm.form.value)">
          <div class="item-list" *ngFor="let item of itemsList">
            <li *ngIf="!item.washing">
              <input type="checkbox" [name]="item._id" [id]="item._id" [ngModel]="checkedItems.indexOf(item._id) != -1"/>
              <label class="media" [for]="item._id">
                <img class="mr-3" style="width: 60px;" [src]="envPath + item.photo" alt="{{item.title}}">
                <div class="media-body">
                  <h6 class="mt-0">{{item.title}}</h6>
                  <p class="text-secondary">
                    {{item.type}},  {{item.weather}}
                  </p>
                </div>
              </label>
            </li>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noItems>No items added</ng-template>
<app-toast></app-toast>
