<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="'/'">
    <div class="sidebar-brand-text mx-3">Wardrobe App</div>
  </a>

  <!-- Divider -->
  <li><hr class="sidebar-divider my-0"></li>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/dashboard/items'">
      <i class="fa fa-list mr-2"></i>
      <span>items</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/dashboard/outfits'">
      <i class="fa fa-list mr-2"></i>
      <span>outfits</span></a>
  </li>

  <li><hr class="sidebar-divider my-0"></li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/dashboard/items/laundry'">
      <i class="fa fa-trash mr-2"></i>
      <span>laundry</span></a>
  </li>

  <li><hr class="sidebar-divider my-0"></li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/dashboard/profile'">
      <i class="fa fa-user mr-2"></i>
      <span>Profile</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" (click)="logout()">
      <i class="fa fa-sign-out mr-2"></i>
      <span>log out</span></a>
  </li>

</ul>
