.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  user-select: none;
}

.custom-day.range, .custom-day:hover {
  background-color: rgba(0,0,0,0.1);
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.custom-day.selected {
  background-color: #1c1c1c;
  color: #fff;

}

.custom-day.disabled:not(.ngb-dp-today) {
  pointer-events: none;
  opacity: 0.5;
}
