.item-list {
  li {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;

    .media {
      align-items: center;
      margin-left: 10px;
      flex-grow: 1;
      cursor: pointer;
    }
  }
}

::ng-deep {
  .outfit-form-wrapper {
    .carousel-control-prev, .carousel-control-next {
      opacity: 0.75;
      background: rgba(0,0,0,0.05);
    }
    .carousel-control-next-icon {
      background: none;

      &:before {
        content: "\f054";
        font-family: "FontAwesome";
      }
    }

    .carousel-control-prev-icon {
      background: none;

      &:before {
        content: "\f053";
        font-family: "FontAwesome";
      }
    }
  }
}


.zoom-slider {
  width: 50%;
}

.sliders-wrapper {
  transform-origin: top left;
}
