<div class="row">
  <div class="col-24">
    <div class="panel card p-3">
      <h3 class="mb-3" *ngIf="edit">Edit new outfit</h3>
      <h3 class="mb-3" *ngIf="!edit">Create new outfit</h3>


      <div class="row">
        <div class="col-14">
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink>Add Items</a>
              <ng-template ngbNavContent>
                <ng-container *ngIf="this.slides.length; else noItems">
                  <ng-container *ngFor="let slide of this.slides">
                    <ngb-carousel #slider="ngbCarousel" style="width: 400px;" (slide)="onSlide($event)" [activeId]="slide.activeId ? slide.activeId : slide.items[0]">
                      <ng-container *ngFor="let item of slide.items">
                        <ng-template ngbSlide id="{{item._id}}">
                          <div class="picsum-img-wrapper" [attr.id]="item._id">
                            <img [src]="envPath + item.photo" style="width: 400px;">
                          </div>
                        </ng-template>
                      </ng-container>
                    </ngb-carousel>
                  </ng-container>
                </ng-container>

                <div class="d-flex align-items-center mt-4">
                  <button class="btn btn-sm btn-secondary" (click)="showAddItemForm()">Add New Item</button>
                  <span class="ml-3 mr-3">OR</span>
                  <span class="w-50">
                     <select name="type" [ngModel]="newOutfit.type || '0'" class="form-control" required (change)="addExistingItem($event)">
                      <option value="0">Select by category</option>
                      <option *ngFor="let itemT of outfitTypes | enumToArray" [value]="itemT">{{itemT}}</option>
                    </select>
                  </span>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Outfit Details</a>
              <ng-template ngbNavContent>
                <form #outfitForm="ngForm" (ngSubmit)="onSubmit(outfitForm)">
                  <input *ngIf="edit" [ngModel]="newOutfit._id" name="_id" type="hidden">
                  <div class="form-group">
                    <label>Item Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="title" [ngModel]="newOutfit.title" placeholder="Enter item name" required>
                  </div>
                  <div class="form-group">
                    <label>Item Category</label>
                    <select name="type" [ngModel]="newOutfit.type" class="form-control">
                      <option>Choose category</option>
                      <option *ngFor="let itemT of outfitTypes | enumToArray" [value]="itemT">{{itemT}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Weather Type</label>
                    <select name="weather" [ngModel]="newOutfit.weather" class="form-control">
                      <option>Choose type</option>
                      <option *ngFor="let itemW of outfitWeather | enumToArray" [value]="itemW">{{itemW}}</option>
                    </select>
                  </div>

                  <button type="submit" class="btn btn-primary">Save</button>
                </form>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noItems>No items added</ng-template>
<app-toast></app-toast>
