@import "~src/assets/styles/variables";
@import "~src/assets/styles/mixins";

.item-list {
  li {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;

    .media {
      align-items: center;
      margin-left: 10px;
      flex-grow: 1;
      cursor: pointer;
    }
  }
}

::ng-deep {
  .outfit-form-wrapper {
    // Carousel
    .carousel-item {
      background: #fff;
      .picsum-img-wrapper {
        img {
          float: left;
        }
      }
    }

    .carousel-control-prev, .carousel-control-next {
      opacity: 0.75;
      background: rgba(0, 0, 0, 0.05);
    }

    .carousel-control-next-icon {
      background: none;

      &:before {
        content: "\f054";
        font-family: "FontAwesome";
      }
    }

    .carousel-control-prev-icon {
      background: none;

      &:before {
        content: "\f053";
        font-family: "FontAwesome";
      }
    }

    // Zoom Slider
    .ng5-slider {
      .ng5-slider-pointer {
        background-color: $primary;

        &:after {
          background: #fff !important;
        }
      }

      .ng5-slider-tick, .ng5-slider-bar {
        background-color: #fff;
      }
    }

    // Datepicker
    ngb-datepicker {
      border-color: $primary;

      .ngb-dp-header {
        background: $primary;

        .btn, .btn-link {
          color: #fff;

          &:disabled {
            color: #fff;
          }
        }
        .custom-select + .custom-select {
          margin-left: 6px;
        }
      }

      .ngb-dp-weekdays {
        background: $primary;

        .ngb-dp-weekday {
          color: #fff;
        }
      }
    }
  }
}


.zoom-slider {
  width: 50%;
}

.sliders-wrapper {
  transform-origin: top left;
}

.slider-box {
  position: relative;

  .remove-btn {
    width: rem(30px);
    height: rem(30px);
    background: #99262d;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
