<div class="row outfit-form-wrapper">
  <div class="col-20">
    <div>
      <h3 class="mb-3" *ngIf="edit">Edit new outfit</h3>
      <h3 class="mb-3" *ngIf="!edit">Create new outfit</h3>


      <div class="row">
        <div class="col-12">
          <div class="zoom-slider" *ngIf="this.slides.length">
            <ng5-slider [(value)]="zoomRangeValue" [options]="zoomRangeOptions"></ng5-slider>
          </div>
          <div class="sliders-wrapper" [ngStyle]="{'transform': 'scale('+ zoomRangeValue + ')'}">
            <ng-container *ngIf="this.slides.length; else noItems">
              <div class="slider-box" *ngFor="let slide of this.slides; let i = index">
                <button class="remove-btn" (click)="removeSlider(i)">&times;</button>
                <ngb-carousel #slider="ngbCarousel" style="width: 400px;" (slide)="onSlide($event)"
                              [activeId]="slide.activeId ? slide.activeId : slide.items[0]">
                  <ng-container *ngFor="let item of slide.items">
                    <ng-template ngbSlide id="{{item._id}}">
                      <div class="picsum-img-wrapper" [attr.id]="item._id">
                        <img [src]="envPath + item.photo" style="width: 400px;">
                      </div>
                    </ng-template>
                  </ng-container>
                </ngb-carousel>
              </div>
            </ng-container>
          </div>
          <div class="d-flex align-items-center mt-4">
            <button class="btn btn-sm btn-secondary" (click)="showAddItemForm()">Add New Item</button>
            <span class="ml-3 mr-3">OR</span>
            <span class="w-50">
                     <select name="type" [ngModel]="newOutfit.type || '0'" class="form-control" required
                             (change)="addExistingItem($event)">
                      <option value="0">Select by category</option>
                      <option *ngFor="let itemT of outfitTypes | enumToArray" [value]="itemT">{{itemT}}</option>
                    </select>
                  </span>
          </div>

        </div>
        <div class="col-12">
          <form #outfitForm="ngForm" (ngSubmit)="onSubmit(outfitForm)">
            <input *ngIf="edit" [ngModel]="newOutfit._id" name="_id" type="hidden">
            <div class="form-group">
              <label>Outfit Name<sup>*</sup></label>
              <input type="text" class="form-control" name="title" [ngModel]="newOutfit.title"
                     placeholder="Enter outfit name" required>
            </div>
            <div class="form-group">
              <label>Weather Type</label>
              <select name="weather" [ngModel]="newOutfit.weather" class="form-control">
                <option>Choose type</option>
                <option *ngFor="let outfitW of outfitWeather | enumToArray" [value]="outfitW">{{outfitW}}</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noItems>No items added</ng-template>
<app-toast></app-toast>
