<div class="container" *ngIf="selectedOutfit">
  <div class="row">
    <div class="col-12 d-flex justify-content-between mb-4">
      <h4>{{selectedOutfit.title}}</h4>
      <nav class="btn-group">
        <a [routerLink]="'edit'" class="btn btn-secondary btn-sm">Edit</a>
        <button (click)="deleteItem()" class="btn btn-danger btn-sm">Delete</button>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
       <ng-container *ngIf="selectedOutfit.items?.length">
        <ng-container *ngFor="let item of selectedOutfit.items">
          <div class="media panel item" [ngClass]="{'bg-light-red' : item.washing}">
            <img class="mr-3" [src]="envPath + item.photo" alt="{{item.title}}">
            <div class="media-body">
              <h6 class="m-0 text-secondary">{{item.title}}</h6>
            </div>
          </div>
        </ng-container>

      </ng-container>
      <div class="card-body">
        <p class="text-secondary">{{selectedOutfit.weather}}</p>
        <p class="text-secondary">{{selectedOutfit.type}}</p>
      </div>
    </div>
  </div>
</div>

<app-toast></app-toast>
