.media.item {
  align-items: center;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;

  img {
    height: 90px;
  }

  .img-removed {
    width: 60px;
    height: 90px;
    margin-right: 1rem;
    background: rgba(255,0,0,0.15);
  }

  & + .media {
    margin-top: 10px;
  }

  &.bg-laundry {
    background: rgba(255, 193, 7, 0.2);
  }
}


.card-img-top {
  max-height: 200px;
  width: auto;
}
