@import "~src/assets/styles/variables";
@import "~src/assets/styles/mixins";

.dashboard-outer-wrapper {
  display: flex;
  background: #efe6d5;
}

.content-wrapper {
  width: 100%;
  padding: 20px 0;
}

h5 {
  border-bottom: 1px solid;
  padding-bottom: 6px;
}

.form-control {
  background: transparent;
  border-color: $primary;

  &:focus, &:active {
    background: transparent;
  }
}


/* === Items Grid === */
.items-grid {
  border-left: 1px solid #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .item-box {
    width: rem(200px);
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
    @include shadow(0 2px 3px 0 rgba(0, 0, 0, 0.1));

    .item-photo {
      img {
        width: 100%;
      }
    }
  }
}


/* === Outfits Grid === */
.outfits-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .outfit {
    padding: 8px;
    background: #fff;
    margin-right: 20px;
    margin-bottom: 20px;
    @include shadow(0 2px 3px 0 rgba(0, 0, 0, 0.1));

    .images-box {
      width: rem(280px);
      height: rem(390px);
      display: flex;
      flex-wrap: wrap;

      .pic {
        border: 2px solid #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
        @include background-size(cover);

        &.deleted {
          background: rgba(255, 0, 0, 0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          color: #1c1c1c;
          font-size: 12px;
        }
      }

      &_2 {
        .pic {
          width: 100%;
          height: rem(195px);
        }
      }

      &_3 {
        .pic {
          &:nth-child(1) {
            width: 100%;
            height: 50%;
          }

          &:nth-child(2),
          &:nth-child(3) {
            width: 50%;
            height: 50%;
          }
        }
      }

      &_4 {
        .pic {
          width: 50%;
          height: rem(195px);
        }
      }

      &_5 {
        .pic {
          width: 50%;
          height: 25%;

          &:last-child {
            width: 100%;
            height: 50%;
          }
        }
      }

      &_6 {
        .pic {
          width: 33.333%;
          height: rem(195px);
        }
      }
    }

    .outfit-body {
      .title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 500;
      }
    }
  }
}


// Components
.ng-select {
  &.ng-select-focused:not(.ng-select-opened) {
    & >.ng-select-container {
      border-color: $primary;
      @include shadow(none);
    }
  }
  .ng-select-container.ng-select-container {
    border-color: $primary;
    background: transparent;
  }

  .ng-dropdown-panel {
    border-color: $primary;

    &.ng-select-bottom {
      border-top-color: #efe6d5;
    }

    .ng-dropdown-panel-items {
      .ng-option {
        background: #efe6d5;

        &:hover, &.ng-option-selected, &.ng-option-marked {
          background: #e6dece;
        }
      }
    }
  }

  &.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        .ng-value {
          background: $primary;
          color: #fff;

          .ng-value-icon {
            &:hover {
              background: $primary;
              color: #fff;
            }

            &.left {
              border-color: #fff;
            }
          }
        }
      }
    }
  }
}
