<div class="d-flex justify-content-between mb-5">
  <h4>Items in Laundry</h4>
  <button class="btn btn-primary" (click)="clearLaundry()">Clear Laundry</button>
</div>
<div class="d-flex flex-wrap">
  <ng-container class="col-6" *ngIf="itemsList && itemsList.length; else noItems">
    <ng-container *ngFor="let item of itemsList">
      <a class="col-6 card" [routerLink]="'/dashboard/items/'+ item._id">
        <img [src]="envPath + item.photo" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="text-secondary">{{item.type}}</p>
        </div>
      </a>
    </ng-container>
  </ng-container>
</div>

<ng-template #noItems>No items in this list</ng-template>

<app-toast></app-toast>
