.items-img {
  display: flex;
  justify-content: flex-start;
  background: #e6dece;
  img {
    height: 60px;
    margin-right: 6px;
  }
}

.btn-group {
  a {
    display: flex;
    align-items: center;
  }
}
