<div class="outfits-grid">
  <ng-container *ngIf="outfitList && outfitList.length; else noItems">
    <ng-container *ngFor="let outfit of outfitList">
      <a class="outfit" [routerLink]="outfit._id">
        <div *ngIf="outfit.items" class="images-box images-box_{{outfit.items.length}}">
          <ng-container *ngFor="let item of outfit.items">
            <div class="pic" *ngIf="item?.photo" [ngStyle]="{'background-image': 'url('+ envPath + item.photo +')'}"></div>
            <div class="pic deleted" *ngIf="!item?.photo">Item removed</div>
          </ng-container>

        </div>
        <div class="card-body">
          <h5 class="card-title">{{outfit.title}}</h5>
          <p class="text-secondary">{{outfit.type}}</p>
        </div>
      </a>
    </ng-container>
  </ng-container>
</div>

<ng-template #noItems>No outfits created</ng-template>
<app-toast></app-toast>
